html {
    background: #f8fafa;

    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#f0f0f0),
        to(#f8fafa),
        color-stop(0.3, #f8fafa)
    );

    background: -moz-linear-gradient(
        top center,
        #f0f0f0,
        #f8fafa 30%
    );

    font: normal 1em/1.5 Sans, arial, sans-serif;
    min-height: 100%;
    text-align: center;
}

body {
    color: #222;
    font-size: 86%;
    margin: 0 auto 2em;
    /*max-width: 800px;*/
    max-width: 940px;/*TWEAK*/
    padding: 3em 0 0;
    text-align: left;
}

* html body {
    width: 940px;
}

h1 {
    font: normal 3.2em/1.8 georgia,"lucida bright","times new roman",serif;
    border-bottom: 1px solid #ddd;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 a {
    color: #000;
    text-decoration: none;
}

h1 a:hover,
h1 a:active {
    text-decoration: underline;
}

h2 {
    font: normal 2em/1.8 georgia,"lucida bright","times new roman",serif;
    margin: 0 0 .5em;
}

a:hover,
a:active {
    text-decoration: none;
}

.intro {
    font-size: 1.1em;
    line-height: 1.6;
}

.intro,
blockquote {
    margin-right: 330px;
}

/*
.intro p {
    margin: 0 0 1em;
}
*/

.intro p {/*TWEAK*/
    background: #e2e1e8;
    margin: 0 0 1em;
    padding: 1em;
}

.intro p.sample_chapter {/*TWEAK*/
    background: #f8efbf;
    font-weight: bold;
}

.intro h2 {
    margin: 0 0 .2em;
}

.button {
    background: #ddd;

    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fff),
        to(#ddd)
    );

    background: -moz-linear-gradient(
        top center,
        #fff,
        #ddd
    );

    border: 1px solid #aaa;
    border-radius: 12px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    display: inline-block;
    margin: 0 0 2em;
}

.button:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#cdcdcd),
        to(#ececec)
    );

    background: -moz-linear-gradient(
        top center,
        #cdcdcd,
        #ececec
    );

    border-color: #999;
}

.button a {
    color: #333;
    display: block;
    font-size: 1.7em;
    font-weight: normal;
    padding: 2px 24px;
    text-decoration: none;
}

.button a:hover {
    color: #111;
}

p,
li {
    font-size: 1.2em;
}

p {
    margin: 0 0 2em;
}

blockquote {
    font-style: italic;
    margin-bottom: 20px;
    margin-left: 40px;
    padding: 0 0 0 20px;
    position: relative;
}

blockquote cite {
    font-weight: bold;
}

blockquote p {
    font-size: 1em;
    margin: 0 0 .5em;
}

blockquote:before {
    color: #ccc;
    content: '“';
    font: bold 6em Times;
    left: -40px;
    position: absolute;
    top: -20px;
}

img {
    display: block;
}

.section {
    position: relative;
}

.img {
/*
    float: right;
    margin: 0 0 0 -300px;
*/
    position: absolute;
    right: 0;
    top: 0;
}

.img img {
    margin: 0 0 2em;
}

.img h2 {
    font-size: 1.5em;
    margin: 0 0 .3em;
}

#author img {
    float: left;
    margin: 0 2em 0 0;
}

.section {
    margin: 0 0 1em;
}

.section p {
    max-width: 700px;
}

#repositories li {
    margin: 0 0 1em;
}

#repositories li a,
#repositories li strong {
    display: block;
}

#repositories li code {
    font-size: 1em;
}

.code ul {
    margin: -1em 0 2em;
}

.nav {
    border-top: 1px solid #fff;
    margin: 0 0 2em;
    padding: .8em 0;
    white-space: nowrap;
}

.nav li {
    display: inline;
    font-size: 1em;
    list-style: none;
    padding-left: 2em;
}

.nav li a {
    text-decoration: none;
}

.nav li a:link,
.nav li a:visited {
    color: #00f;
}

.nav li a:link:hover,
.nav li a:link:active {
    text-decoration: underline;
}

#author img {
    margin-bottom: 2em;
}

#author p {
    font-size: 1em;
}

/*.note {
    font-size: .8em;
    margin-left: 24px;
}
*/
/*.tweet {
    margin-left: 24px;
}*/

.note {/*TWEAK*/
    font-size: .9em;
    margin: 0 0 .5em;
}

code {
    font-size: 1.2em;
}

.contact {
    /*clear: left;*/
    margin: 0 0 3em;
    padding-left: 2em;
}

.contact li {
    background: url(../images/icons.png) 0 0 no-repeat;
    display: inline;
    line-height: 24px;
    padding: 2px 20px 2px 32px;
    vertical-align: middle;
}

.contact .email {
    background-position: 0 -74px;
}

.contact .rss {
    background-position: 0 -150px;
}

/* Forms */
fieldset {
    border: none;
    padding: 0;
    outline: none;
}

label,
input[type=text],
textarea {
    float: left;
}

label {
    clear: left;
    margin: 0 1em 1em 0;
    text-align: right;
    width: 6.5em;
}

textarea {
    height: 10em;
    margin: 0 0 1em;
    width: 40em;
}

button {
    margin-left: 7.8em;
}

.error {
    color: #c00;
}

/* Smaller screens */
@media all and (max-width: 960px), only screen and (max-device-width: 480px), handheld {
    .nav {
        margin: 0 0 2em;
    }

    .intro {
        margin-left: 0;
    }

    blockquote {
        margin-left: 30px;
    }

    blockquote:before {
        left: -30px;
    }
}

/* Smallest screens */
@media all and (max-width: 800px), only screen and (max-device-width: 480px), handheld {
    body {
        font-size: 76%;
        margin: 0 10px 2em;
    }

    h1 {
        font-size: 2em;
    }

    .nav li {
        padding-left: 1em;
    }

    .intro {
        font-size: 1em;
    }

    .img img {
        height: auto;
        width: 280px;
    }

    .button a {
        font-size: 1.3em;
        padding: 2px 12px;
    }

    p,
    li {
        font-size: 1.1em;
    }

    blockquote {
        margin-left: 20px;
    }

    blockquote:before {
        left: -20px;
    }

    .contact {
        margin: 0 0 3em;
    }
}

@media all and (max-width: 550px) {
    .nav {
        white-space: normal;
    }
}
